.dark-mode {
    background-color: #121212;
    color: #E0E0E0;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color: #E0E0E0;
}

.dark-mode a {
    color: #BB86FC;
}

.dark-mode button {
    background-color: #1F1F1F;
    color: #E0E0E0;
    border: 1px solid #BB86FC;
}

.dark-mode input {
    background-color: #2A2A2A;
    color: #E0E0E0;
    border: 1px solid #BB86FC;
}

.dark-mode ::placeholder {
    color: #888;
}